@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 93%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(41, 86%, 52%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover { background-color: hsl(41, 86%, 52%); }

body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-size: 15px;
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

li { list-style: none; }

a {
    text-decoration: none;
    color: inherit;
}

a,
svg,
span,
button,
ion-icon { display: block; }

/*img { height: auto; }*/


button{
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea { width: 100%; }

button { cursor: pointer; }


html {
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}






/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }


.btn {
    background-color: var(--bg-color, #FF9D2EFF);
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    height:  45px;
    padding-inline:  35px;
    transition:  0.25s ease;
}

.btn-hover {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-hover::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 20px;
    width: 1px;
    height: 1px;
    transform: translate(-50%, 51%) scale(var(--scale, 1));
    border-radius: 50%;
    background-color: #0D1216FF;
    z-index: -1;
    transition: 0.5s ease;
}

.btn-hover:is(:hover, :focus)::after { --scale: 500; }







/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

/* .navbar, */
.header-btn-group .btn { display: none; }

.header {
    --color: #FFFFFFFF;
    --btn-color: #F1D6C6FF;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 20px;
    border-block-end: 1px solid #F1D6C633;
    z-index: 4;
}

.header.active {
    --color: #0D1216FF;
    --btn-color: #0D1216FF;

    position: fixed;
    top: -86px;
    background-color: #fff;
    box-shadow: 0 1px 4px #00000033;
    animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--color);
    font-family: 'Rubik', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -2px;
}

.logo .span {
    display: inline-block;
    color: #FF9D2EFF;
}

.header-btn-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-btn {
    color: var(--btn-color);
    font-size: 20px;
}

.search-btn ion-icon { --ionicon-stroke-width: 50px; }

.nav-toggle-btn {
    display: grid;
    gap: 4px;
}

.line {
    width: 10px;
    height: 3px;
    background-color: var(--btn-color);
    border-radius: 5px;
    transition: 0.25s ease;
}

.line.middle { width: 20px; }

.line.bottom { margin-left: auto; }

.nav-toggle-btn.active .line.top { transform: translate(1px, 3px) rotate(45deg); }

.nav-toggle-btn.active .line.middle { transform: rotate(-45deg); }

.nav-toggle-btn.active .line.bottom { transform: translate(-1px, -3px) rotate(45deg); }

.navbar {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    background-color: #fff;
    padding-inline: 20px;
    box-shadow: 0 1px 4px #00000033;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.25s ease;
}

.navbar.active {
    height: 236px;
    visibility: visible;
}

.navbar-list { margin-block: 10px; }

.nav-item:not(:last-child) { border-block-end: 1px solid #0000000A; }

.navbar-link {
    color: #0D1216FF;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 10px 15px;
    transition: 0.25s ease;
}

.navbar-link:is(:hover, :focus) { color: #FF8D29FF; }




/*-----------------------------------*\
  #SEARCH BOX
\*-----------------------------------*/

.search-container {
    position: fixed;
    top: -60%;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: #000000F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 15px;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
}

.search-container.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(50%);
}

.search-box {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.search-input {
    color:#DEDEDEFF;
    font-size: 3rem;
    padding: 20px 15px;
    padding-inline-end: 70px;
}

.search-input::placeholder { color: #999999FF; }

.search-input::-webkit-search-cancel-button { display: none; }

.search-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    color: #454545FF;
    font-size: 4rem;
    transition: 0.25s ease;
}

.search-submit:is(:hover, :focus) { color: #DEDEDEFF; }

.search-close-btn {
    position: absolute;
    inset: 0;
    z-index: -1;
    cursor: url("../image/close.png"), auto;
}








/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: #FF9D2EFF;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 1px 4px #00000033;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease;
}

.back-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}

.back-top-btn:is(:hover, :focus) { background-color: #0D1216FF; }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 480px screen
 */

@media (min-width: 480px) {

    /**
     * HEADER
     */

    .header-btn-group .btn {
        display: block;
        --bg-color: #FF8D29FF;
    }

}





/**
 * responsive for larger than 550px screen
 */

@media (min-width: 550px) {

    /**
     * REUSED STYLE
     */

    .container {
        max-width: 550px;
        width: 100%;
        margin-inline: auto;
    }



}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

    /**
     * REUSED STYLE
     */

    .container { max-width: 720px; }



}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {


    /*!***/
    /* * REUSED STYLE*/
    /* *!*/

    .container { max-width: 960px; }




    /**
     * HEADER
     */

    .nav-toggle-btn { display: none; }

    .header .container { gap: 20px; }

    .navbar,
    .navbar.active {
        all: unset;
        margin-inline-start: auto;
    }

    .navbar-list {
        margin-block: 0;
        display: flex;
        gap: 5px;
    }

    .nav-item:not(:last-child) { border-block-end: none; }

    .navbar-link {
        font-size: 1.5rem;
        color: var(--btn-color);
        letter-spacing: -0.5px;
    }



    /**
     * BACK TO TOP
     */

    .back-top-btn {
        bottom: 20px;
        right: 30px;
    }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

    /**
     * REUSED STYLE
     */

    .container { max-width: 1200px; }



}






/*-----------------------------------*\
  #Home section
\*-----------------------------------*/

.carousel{
    width: 100%;
    background-color: #555;
    height: 695px;
    color: #eee;
    margin-top: -50px;
    position: relative;
}
.carousel .list{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.carousel .list .item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.carousel .list .item::before{
    position: absolute;
    width: 100%;
    height: 100%;
    /*428372FF*/
    /*EEAA19FF*/
    /*E86C3FFF*/
    background-color: var(--bg-color);
    content: var(--title);
    font-size: 15em;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee4;
    z-index: -1;
}

.image .id-image{
    width: 100%;
    margin-top: -31px;
}

.carousel .list .item .image{
    flex-shrink: 0;
    width: 450px;
    height: 500px;
    --left: -200px;
    background: /*var(--img-src)*/ var(--left) ;
    background-size: 100% auto;
    background-blend-mode: multiply;
    -webkit-mask-size: 100% auto;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% auto;
    mask-repeat: no-repeat;
    transition: background 1s ease-in-out;
}
.carousel .list .item .content{
    width: 1140px;
    max-width: 90%;
    margin: auto;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}
.carousel .list .item .info .title{
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
}
.carousel .list .item .info .category{
    opacity: .7;
}
.carousel .list .item .info .des{
    margin: 1em 0;
}
.carousel .list .item .info a{
    display: inline-flex;
    gap: 20px;
    text-decoration: none;
    color: #eee;
    font-weight: 500;
}
/* set active item */
.carousel .list .item{
    z-index: 1;
}
.carousel .list .item.active{
    z-index: 2;
}
.carousel .list .item.active .image{
    --left: 0;
}
/* arrows */
.arrows button{
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: monospace;
    background-color: #eee3;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    left: 10%;
    transition: background 0.5s, color 0.5s;
}
.arrows button#next{
    left: unset;
    right: 10%;
}
.arrows button:hover{
    background-color: #eee;
    color: #000;
}
.dots li{
    width: 15px;
    height: 15px;
    background-color: #eee5;
    border-radius: 50%;
    cursor: pointer;
}
.dots li.active{
    background-color: #eee;
}
.dots{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 30px;
    z-index: 2;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    transition: background 0.5s;
}
.carousel{
    overflow: hidden;
}


/* responsive */
@media (min-width: 768px) and (max-width:1120px ) {
    .carousel .list .item .info .title{
        font-size: 4em;
    }

    .carousel .list .item .image{
        flex-shrink: 0;
        width: 300px;
        height: 350px;
    }

}

@media screen and (max-width: 767px){
    .carousel{
        height: 108.8vh;
    }
    .carousel .list .item .info{
        position: absolute;
        bottom: 10%;
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
        backdrop-filter: blur(5px);
    }
    .carousel .list .item .info .title{
        font-size: 2em;
    }
    .carousel .list .item .info .des{
        font-size: 0.8em;
        text-align: justify;
    }
    .carousel .list .item .content{
        justify-content: center;
        align-items: start;
    }
    .arrows button{
        top: unset;
        bottom: 20px;
    }
}

/* effect */
@keyframes transformAnimation{
    from{
        transform: translateX(var(--transform-from));
    }to{
         transform: translateX(var(--transform-to));
     }
}

.carousel.effect .item .image{
    animation: transformAnimation 1s ease-in-out 1 forwards;
}
.carousel.effect .item .info .title,
.carousel.effect .item .info .category,
.carousel.effect .item .info .des,
.carousel.effect .item .info a{
    animation: transformAnimation 1s ease-in-out 1 forwards;
}
.carousel.effect .item .info .category{
    animation-delay: 0.1s;
}
.carousel.effect .item .info .des{
    animation-delay: 0.2s;
}
.carousel.effect .item .info a{
    animation-delay: 0.3s;
}
.carousel.effect .item.active{
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: animationClipPath 0.9s ease-in-out 1 forwards;
}
@keyframes animationClipPath{
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.carousel.effect{
    --transform: 300px;
}
.carousel.effect .item.active{
    --transform-from: calc(var(--transform) * -1);
    --transform-to: 0px;
}
.carousel.effect .item{
    --transform-from: 0;
    --transform-to: var(--transform);
}

/*<*=============End Of Home Section =================*>*/



/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }


.has-scrollbar {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    padding-block-end: 40px;
}


.has-scrollbar::-webkit-scrollbar {
    height: 12px;
}

.has-scrollbar::-webkit-scrollbar-button {
    width: calc(25% - 40px);
}

.has-scrollbar::-webkit-scrollbar-track {
    outline: 2px solid hsl(41, 86%, 52%);
    border-radius: 50px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    border: 3px solid hsl(0, 0%, 93%);
    border-radius: 50px;
}

.has-scrollbar ::marker{
    display: none;
}



/*-----------------------------------*\
  #PROMO
\*-----------------------------------*/

.section-divider{
    padding: 60px 0px;
}

.promo-card {
    position: relative;
    background-color:#fff;
    text-align: center;
    padding: 40px 30px;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
    z-index: 1;
}


.promo-card h3{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: hsl(210, 26%, 7%);
    line-height: 1.2;
}


.promo-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #eeaa19;
    clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
    transform: scaleY(0.3);
    transform-origin: bottom;
    z-index: -1;
    transition: 0.25s ease;
}

.promo-card:hover::after {
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
    transform: scaleY(1);
}


.promo-card img {
    width: 100%;
    height: auto; }

.promo-card .card-icon svg {
    margin-inline: auto;
}

.promo-card:hover .card-icon path {
    fill: #fff;
}

.promo-card:hover :is(.card-title, .card-text) {
    color: #fff;
}


.promo-card .card-title {
    margin-block: 15px;
    transition: 0.25s ease;
}

.promo-card .card-text {
    margin-block-end: 15px;
    transition: 0.25s ease;
}


.promo-card .card-banner {
    max-width: max-content;
    margin-inline: auto;
    aspect-ratio: 1 / 1;
}

.promo-item {
    min-width: 100%;
    scroll-snap-align: start;
}

@media (max-width: 549px) {
    .has-scrollbar > li { min-width: calc(111% - -5px); }
}

@media (min-width: 550px) {

    .container {
        max-width: 550px;
        width: 100%;
        margin-inline: auto;
    }

    .has-scrollbar > li { min-width: calc(52.5% - 5px); }

}

@media (min-width: 768px) {

    .container { max-width: 720px; }

}

@media (min-width: 992px) {

    .container { max-width: 960px; }

    .has-scrollbar > li { min-width: calc(34.33% - 6.66px); }

    .h2 { --fs-1: 4.2rem; }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;

    }

    .promo .promo-item {
        min-width: calc(26% - 11px);

    }

}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: #FEA116FF;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background:#FEA116FF;
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}


